# Node
node_modules/
.pnpm-store/

# Laravel
vendor/
.env
storage/logs/
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/

# Docker
.docker/

# Temporary files
frontend/tsx-0/
.git/
*.zip
# Ignore PHP temporary files if any
.phpunit.cache/
.vscode/

